 <!-- footer -->
    <div class="footer">
        <ul class="list-inline text-lg-left text-md-left text-center">
            <li class="list-inline-item"><a href="{{site.baseurl}}/about/">About </a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/blog/">Blog </a></li>
            <li class="list-inline-item"><a href="{{site.baseurl}}/contact">Contact </a></li>
        </ul>
    </div>
</div>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<!-- custom js -->
<script type="text/javascript" src="{{site.baseurl}}/assets/js/custom.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/assets/js/jquery.wordrotator.js"></script>
</body>
</html>