<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
   <!-- Brand -->
  <a class="navbar-brand" href="#">Codelfe</a>

    <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainnav_codlife">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- menu -->
  <div class="collapse navbar-collapse" id="mainnav_codlife">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">About us</a>
    </li>
     <li class="nav-item">
      <a class="nav-link " href="#">Projects</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
   
  </ul>
  </div> 
</nav>