
/*menu styles*/
.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #000;
    display: block;
    transition: 0.3s;
    text-decoration: none;
}

.overlay a:hover, .overlay a:focus {
    color: #818181;
    text-decoration: none;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 28px;
    font-size: 30px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.menu{
    cursor:pointer;
    position: fixed;
    z-index:1;
    top: 25px;
    right: 20px;
    background-color: white;
    height:50px;
    width: 50px;
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    box-shadow: 0px 0px 10px #ccc;  

}

.logo{
    position: absolute;
    z-index: 1;
    left: 20px;
    top:25px;
    color: white
}
.logo a{
    color: white;
}
 .logo span {
    font-size: 25px;
    font-weight: 700;
    font-family: 'Sonsie One', cursive;
 }
/*end of menu styls*/


/*contact page style*/
.contact-section{
    position: absolute;
    z-index: 2;
    background-color: white;
    width: 400px;
    height: 70%;
    top: 15%;
    left: 5%;
    right: 5%;
    box-shadow: 0px 0px 6px #ccc;

}
/*service section*/
.service-section{
    position: absolute;
    background-color: white;
    height: 70%;
    top: 15%;
    left: 5%;
    right: 5%;
    box-shadow: 0px 0px 6px #ccc;
}
.service{
    padding: 10px;
    color: #3333;
    text-align: center;
}

.service p{
    font-size: 20px !important;
    color: #000
}

.border-new{
    border-bottom: 1px solid #e9ecef;
    border-right: 1px solid #e9ecef;
    border-top: none;
    border-left: none;
}
.border-new:nth-child{
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-left: none;
}
/*social section*/
@media screen and (max-width: 450px) {
    .social-section {
        position: fixed;
        z-index: 2;
        display: inline-block;
        bottom:10px;
        left: 10px;
    }
}
.social-section {
    position: fixed;
    z-index: 2;
    max-width: 50px;
    top:40%;
    right: 10px;
}
.social-section ul li {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
    background-color: white;
    margin: 5px;
    height: 50px;
    width: 50px;
     box-shadow: 0px 0px 6px #ccc;
}
.social-section ul li a {
    font-size: 18px;
}

/*end of social section*/
/*footer section*/
.footer {
    position: fixed;
    z-index: 2;
    right: 5px;
    bottom: 10px;
    background-color: white;
    padding:15px;
     box-shadow: 0px 0px 6px #ccc;
}

html, body {
    width: 100%;
    height: 100%;
}
.map-frame {
    width: 100%;
    height: 100%;
    position: relative;
}

/*custom bootstrap */

.nav-tabs{
    border-bottom: none !important;

}
.nav-tabs .nav-link{
    border:none !important;
    padding: 10px !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-bottom: 3px solid grey !important;
}

.form-control{
    border: none !important;
    border-bottom: 1px solid #ccc !important;
    border-radius: 0px !important;
}
.btn{
    border-radius: 0px !important;
}


/*map*/
   #map {
        height: 100%;
      }