
html{
    font-size: 16px;
    /*max-height: 100%;*/
}

body{
  background-color: #f2f2f2 !important;
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
}

.site-heading{
    font-family: 'Sonsie One', sans-serif !important;
    padding: 15px 0px;
}

.s1-8x{
    font-size: 1.8rem !important;
}

.s1x{
    font-size: 1rem !important;
}
.s2x{
   font-size: 2rem !important; 
}

.s3x{
   font-size: 3rem !important; 
}
.capitalize{
    text-transform: uppercase;
}

.quote-section{
    padding: 15px 0;
}
.quote{
    color: #8bc34a;
    font-weight: bold;
}

.social-link{
    padding: 15px 0px;
}
.social-link a{
    
    padding: 8px;
    font-size: 1.5rem;
    color: #212529;

}

.footer{
  padding: 10px 0;
}

.footer a{
    color:#212529;
    font-weight: bold;
}
@media (min-width: 767px) {
  .footer{
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    max-width: 100%
  }

}


@media (max-width: 767px) {

  /* Align text to center.*/
  .text-xs-center {
    text-align: center;
  } 

}

.carousel-inner .active.left { left: -25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev    { left: -25%; }
.carousel-control        { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}